# Xcode
*.xcuserdata
*.xcworkspace/xcuserdata
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Misc
.DS_Store
*.swp
*~.nib

# Project-specific
*.generated.swift

# SonarQube
coverage/
swiftlint-report.json
.scannerwork/
__pycache__/
